body {
  background-image: url("blue-wrinkled-paper-texture.jpg");
  margin: 0;
  height: 100%;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #65fce5;
  }
  #nav1 {
    background: rgba(0, 0, 0, 0.9);
  }
  #search {
  padding-top: 4.6rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0)!important;
  }
  .navbar-brand {
    padding-left: 1rem;
  }
  .navbar-dark .nav-brand:hover {
    color: #65fce5;
  }
  #notes {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0);
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .container h1 {
    padding: 10px 10px 0;
  }
  #card {
    box-shadow: 1px 6px 10px;
    background: linear-gradient(to bottom,rgb(153, 200, 228), rgb(0, 132, 194));
    border-radius: 1rem;
  }
     
  
  #welcome h1 {
    font-family: sans-serif;
    color: rgb(160, 239, 250);
    margin: 30px auto;
    text-align: center;
    font-size: 50px;
    max-width: 600px;
    font-weight: 600;
    position: relative;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-shadow: .2rem .2rem .4rem rgb(0, 17, 39);
  }
  
    #hr1 {
      border-top: 1px solid #cff3f5;
      width: 50%;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    #hr2 {
      border-top: 1px solid #cdf1f3;
      width: 50%;
      margin-top: 0.8rem;
      margin-bottom: 1rem;
    }
    #addTxt {
      background-color: rgb(198, 240, 233);
      overflow-x: hidden;
      overflow-y: scroll;
      
    }

    #notecard {
      background: linear-gradient(to bottom,rgb(154, 225, 241), rgb(0, 204, 255)); 
      box-shadow: 1px 10px 20px;
      border-radius: 1rem;
    }
    #notecard:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition: transform .4s ease;
    }
    #addTxt2 {
      background-color:rgb(198, 240, 233);
      overflow-x: hidden;
      overflow-y: scroll;
    }
    #gap {
      padding-top: .5rem;
    }
    #hrj {
      border-top: 1px solid #000000;
      width: 100%;
      margin-top: 0.8rem;
      margin-bottom: 1rem;
    }
    .end {
      padding-top: 5rem;
      padding-bottom: 3rem;
      color: rgb(255, 255, 255);
     
    }
    #p {
      color: rgb(202, 240, 240);
      font-size: 1.2rem;
      align-items: center;
      text-shadow: .1rem .1rem .1rem rgb(0, 10, 24);
    }

